*{
	margin: 0%;
	padding: 0%;
}

.imagen-eye{
	background-image: url("https://i.ibb.co/LtcRtwW/eye.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 280px;
	height: 280px;
	}
.imagen-secret{

	background-image: url("https://i.ibb.co/3cCnySR/shh.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 280px;
	height: 280px
	
}

#btn{
	margin-top: 220px;
	margin-left: 0px;
}
#btn2{
	margin-top: 220px;
	margin-left: 0px;

}

#section1{
	padding-top: 4%
}

header{

	margin-top: 8%;
}

.font-abel{

	font-family: 'Abel', sans-serif;
	font-size: 110%;
}
.header-image{

	background-image: url("https://i.ibb.co/C5Fn86h/secret-party.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}

.flexbox-container {

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 6%;

}

.flexbox-container > div {

    width: 100%;
    padding-bottom: 5%;

}

.flexbox-container > header,div,first-child {

	margin: 1em;
    padding-left: 0%;

}
.flexbox-container > div,second-child{

	padding-top: 5%;
	margin-right: 1px;
	margin-left: 1px;
	
}
.middle{
	margin-top: auto;
	margin-left: auto;
	text-align: center;
}

textarea{
	
	width: 500px;
	height: 330px;
}
#encodeBtn{

margin-top: 10px;
margin-left: 20px;
display: block;
position: center;

	
}
#container-text-to-encode{

	margin:3em;
	align-content: center;

}
.margin-subtitle{

	margin: 2em;
}

.left-content{

	text-align: left;
}

.size-of-input{

	width: 100px;
	height: 50px;
	margin-top: 20px;
}
.back-btn{

	display: block;
	
	
}
#back-btn2{

	display: block;
	margin-left: 0px;
	margin-top: 0px

}
html {
  scroll-behavior: smooth;
}

.en-linea{

	display: inline;
}
body{

	background-image: url("https://i.ibb.co/g6xLYYd/shine.png");
	font-family:sans-serif;
	
}


.eye-image{
display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 width:400px ;
 height: 300px;}



 .back-welcome-btn{

  margin-top: 240px;
 }

 .saved-image{

 	width: 200px;
 	height: 200px;
 }


/* Acá va tu código */